<div class="container">
  <div class="login-container">
    <div class="form-container">
      <div class="logo">
        <img src="logo.png" alt="logo" class="logo-image" />
        <h2 class="logo-text">StarData</h2>
      </div>
      <h2>Reset Password</h2>
      <p>Enter your new password. Your password should be:</p>
      <form>
        <mat-form-field class="form-field">
          <mat-label>New Password</mat-label>
          <input
            placeholder="at least 8 chracters"
            [(ngModel)]="password"
            matInput
            [type]="hide() ? 'password' : 'text'"
            name="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassClick($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
            type="button"
          >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Confirm Password</mat-label>
          <input
            placeholder="please repeat your password"
            [(ngModel)]="confirmPassword"
            matInput
            [type]="hide() ? 'password' : 'text'"
            name="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassClick($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
            type="button"
          >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <app-card>
          <ul>
            <li>At least 8 characters</li>
            <li>Contain at least one uppercase letter (A-Z)</li>
            <li>Contain at least one lowercase letter (a-z)</li>
            <li>Contain at least one number (0-9)</li>
            <li>Contain at least one special character (&#64;$!%*?&)</li>
          </ul>
        </app-card>
        <button
          type="button"
          mat-flat-button
          [disabled]="isLoading"
          (click)="resetClick()"
        >
          @if (isLoading) {
            Processing...
          } @else {
            Reset Password
          }
        </button>
      </form>
    </div>
  </div>
  <div class="vertical-line"></div>
  <div #network id="network"></div>
  <button (click)="changeTheme()" mat-fab class="theme-changer-container">
    <mat-icon class="icon material-symbols-outlined" id="theme-changer-icon">
      routine
    </mat-icon>
  </button>
</div>
