<div class="container">
  <div class="login-container">
    <div class="form-container">
      <div class="logo">
        <img src="logo.png" alt="logo" class="logo-image" />
        <h2 class="logo-text">StarData</h2>
      </div>
      <!-- فرم ریست رمز عبور حذف شد -->
    </div>
  </div>
  <div class="vertical-line"></div>
  <div #network id="network"></div>
  <button (click)="changeTheme()" mat-fab class="theme-changer-container">
    <mat-icon class="icon material-symbols-outlined" id="theme-changer-icon">
      routine
    </mat-icon>
  </button>
</div>
